
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489120934176'); /* IE9*/
  src: url('iconfont.eot?t=1489120934176#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489120934176') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489120934176') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489120934176#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before { content: "\e6ed"; }

.icon-enter:before { content: "\e78b"; }

.icon-up:before { content: "\e7a8"; }

.icon-back:before { content: "\e833"; }

.icon-youxiang:before { content: "\e694"; }

.icon-zhifubao:before { content: "\e695"; }

.icon-Facebook:before { content: "\e696"; }

.icon-linkedin:before { content: "\e697"; }

.icon-Instagram:before { content: "\e698"; }

.icon-zhihu:before { content: "\e69a"; }

.icon-twitter:before { content: "\e69b"; }

.icon-xinlangweibo:before { content: "\e69e"; }

.icon-pengyouquan:before { content: "\e6a0"; }

